{% extends "main/base.html" %}
{% load static %}

{% block title %}首页 | 翠囍花园{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
  <script src="{% static 'main/js/home.js' %}" defer></script>

  <!-- Banner 大图区域 -->
  <section class="hero-banner">
  <video autoplay muted loop playsinline class="bg-video">
    <source src="{% static 'main/videos/bnner.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <div class="hero-text">
    <h1>你的情绪<br>值得被温柔包裹</h1>
    <a href="/products/" class="cta-button">探索系列</a>
  </div>
</section>

  <!-- 精选用户评价区块 -->
 <section class="brand-carousel">
  <div class="carousel-track">
    {% for img in image_list %}
      <img src="{% static img %}" alt="品牌展示 {{ forloop.counter }}">
    {% endfor %}
    {% for img in image_list %}
      <img src="{% static img %}" alt="品牌展示重复">
    {% endfor %}
  </div>
</section>


<section class="faq-section">
  <div class="faq-title">
    <h2>常见问题</h2>
    <p>FAQ</p>
  </div>

  <div class="faq-list">
    <div class="faq-item">
      <button class="faq-question">翠囍花园有什么独特之处？</button>
      <div class="faq-answer">
        <p>我们将自然美学、手作体验与园艺教育融为一体，打造一个既能放松身心、
          品茶赏花，又能学习花艺与绿植养护的疗愈式花园空间。
        </p>
      </div>
    </div>

    <div class="faq-item">
      <button class="faq-question">为什么你需要翠囍花园？</button>
      <div class="faq-answer">
        <p>在快节奏、压力重重的城市生活中，我们需要一个可以放慢脚步、呼吸自然、倾听内心的地方。</p>
        <p>翠囍花园不仅是一个美丽的花园，更是一个可以喝茶静坐、亲手创作、学习园艺、疗愈身心的空间。</P>
        <p>它帮你找回被忙碌掩盖的生活感受，让你在绿意与芬芳中，重新与自己对话。</P>
      </div>
    </div>

    <div class="faq-item">
      <button class="faq-question">翠囍花园提供哪些服务？</button>
      <div class="faq-answer">
        <p>我们提供但不限于：鲜花花束、绿植造景、绿植养护、企业沙龙活动策划与园林设计服务。
          如需了解更多详情，欢迎通过我们的联系方式与我们取得联系，我们将为您提供个性化的服务建议！
        </p>
      </div>
    </div>

    <div class="faq-item">
      <button class="faq-question">是否需要提前预约？是否接受团体包场？</button>
      <div class="faq-answer">
        <p>我们支持提前预约，并欢迎团体包场。如有更多疑问，欢迎通过联系方式与我们取得联系，
          我们将为您提供详细解答！</p>

      </div>
    </div>
  </div>
</section>



{% endblock %}

